.screen {
    height: 50px;
    width: 400px;
    margin: auto;
    border: 1px solid black;
    margin-top: 50px;
}

.buttons {
   width: 380px;
   height: 400px;
   margin: auto;
   margin-top: 20px;
}

button {
    height: 50px;   
    width: 50px;
    margin: 5px;
}

span {
    font-size: xx-large;
}
