body {
margin-top:20%;
margin-left:30%;

}
input.display {
width: 150px; text-align: right;
}

input[type= button] {
width: 40px; height: 30px;
}
#blok1 {
float:left;
background-color:green;
}
#blok2 {
float:left;
background-color:red;
}
#blok3 {
float:left;
background-color:blue;
}
#blok4 {
float:left;
background-color:yellow;
}
#blok5 {
float:left;
background-color:green;
}
