<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/style.css"/>
        <script src="../js/form.js"></script> 
        <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="../js/functions.js"></script>
    </head>
    <body>
        <div class="wrapperClass clearfixClass">
            <div class="tableWrapperClass">
                <div class="tablePageClass" id="tablePageID">

                </div>
                <div class="clearfixClass">
                    <div class="classicButtonClass floatLeftClass">
                        <a href="#" onclick="deleteSelected();" >Delete selected</a>
                    </div>
                    <div class="classicButtonClass floatRightClass">
                        <a href="#modalDialogClass" onclick="addUser();" >Add user</a>
                    </div>                
                    <div class="classicButtonClass floatRightClass">
                        <a href="#" onclick="getAllData();" >Print users</a>
                    </div>
                    <div class="classicButtonClass floatRightClass">
                        <a href="#modalId" onclick="signUpModal();">Sign up</a>
                    </div>           
                </div>
            </div>
        </div>
        <!--Modal dialog-->
        <div class='modalDialogClass' id='modalId'>
            <div class="modalFonClass"></div>
            <div class="modalContClass">
                <div class="modalTitleClass clearfixClass">
                    <h2>Sign Up</h2>
                    <a href="#" title="Close" class="closeBtnClass"></a>
                </div>
                <div id="signUpFormContainerId">
                    <form action="" method="post">
                        <div class="inputTextContainerClass">
                            <label>Name* :</label>
                            <input name="name" type="text" id="nameId" placeholder="Name" class="textClass" />
                        </div>
                        <div class="inputTextContainerClass">
                            <label>Last name* : </label>
                            <input name="lastname" type="text" id="lastNameId" placeholder="Last Name" class="textClass" />
                        </div>
                        <div class="inputTextContainerClass">
                            <label>Email* : </label>
                            <input type="text" name="email" id="emailId" placeholder="Email" class="textClass" />
                        </div>
                        <div class="inputTextContainerClass">
                            <label>Password* : </label>
                            <input name="password" type="password" id="passwordId" placeholder="Password" class="textClass" />
                        </div>
                        <div class="NoRequiredClass selectContainerClass">
                            <label>Date Of Birth:</label>
                            <select name="day" id="dayId" onChange="day_birdth()">
                                <option value="na">Day</option>
                            </select>
                            <select name="month" id="monthId" onChange="changeDate(this.options[selectedIndex].value);">
                                <option value="na">Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select name="year" id="yearId" onChange="year_birdth()">
                                <option value="na">Year</option>
                            </select>
                        </div>
                        <div class="NoRequiredClass inputTextContainerClass" >
                            <label>Age : </label>
                            <input type="text" id="ageId" placeholder="Age" readonly />
                        </div>
                        <div class="fullWidthClass">
                            <div class="NoRequiredClass inputRadioContainerClass">
                                <label>Male</label>
                                <input type="radio" name="sex" value="Male" />
                            </div>
                            <div class="NoRequiredClass inputRadioContainerClass">
                                <label>Female</label>
                                <input type="radio" name="sex" value="Female" />
                            </div>
                        </div>
                        <div class="fullWidthClass">
                            <div class="inputButtonContainerClass">
                                <input type="button" onclick="hideRequiredFields();" id="hideShowId" value="Hide" />
                            </div>
                            <div class="inputSubmitContainerClass">
                                <input type="submit" OnClick="return validateSignUpForm();"  value="Sign Up" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
