.myButton {
    box-shadow: 3px 4px 0px 0px #899599;
background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
       background-color:#ededed;
       border-radius:15px;
border:1px solid #d6bcd6;
display:inline-block;
cursor:pointer;
color:#4c45a8;
      font-family:Times New Roman;
      font-size:15px;
      font-weight:bold;
padding:8px 31px;
        text-decoration:none;
        text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
       background-color:#bab1ba;
}
.myButton:active {
position:relative;
top:1px;
}

#field1, #field2, #result {
    background: #ededed;
color: #bab1ba;
width: 200px;
padding: 6px 15px 6px 35px;
         border-radius: 20px;
         box-shadow: 0 1px 0 #ccc inset;
transition: 500ms all ease;
outline: 0;
}


