 #header {
    text-align: left;
    height:50px;
    width:100%;
 }
#sidebar {
    float: left;
    height: 300px;
    width:50%;
}
#article {
    text-align: center;
    float: right;
    height:100px;
    width:26%
}
.serif {
    font-family: "open", serif;
}
