#main {
    box-sizing:border-box;
    width: 405px;
    height: 330px;
    padding:20px;
    margin: 10% 20% 10% 30%;
    background: rgba(140, 139, 125, 0.45);
    border-radius: 3px;
    border:1px solid; 
}
#reg {
  font-size:1.2em;
}
#age-style {
    position: relative;
    left: -187px;
}
#age-style input {
    width: 40px;
  
}
#submit-button {
    text-align: center;
    margin: 0 auto;
    font-size:20px;
    width: 127px;
    height:48px;
}
#gender {
    position: relative;
    left: -43px;
}


#reg div {
   text-align:right;    
   padding:3px 0;
   height:30px;
}
