body{
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;    
    color: #3d464d;
}
a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
}
ul{
    list-style: outside none none;
}
input::-webkit-input-placeholder {
   color: #767676;
}
input:-moz-placeholder { /* Firefox 18- */
   color: #767676;  
}
input::-moz-placeholder {  /* Firefox 19+ */
   color: #767676;  
}
input:-ms-input-placeholder {  
   color: #767676;  
}
input::-moz-placeholder {  /* Firefox 19+ */
   color: #767676;  
}
input:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}
input:focus::-webkit-input-placeholder {
   color: #ccc;
}
input:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}
input:focus:-ms-input-placeholder {  
   color: #ccc;  
}
input:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}
.ui-state-active{
    background: #682903 !important;
    color: #fff !important;
    font-weight: bold !important;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.wrapper{
    width: 990px;
    margin: 0 auto;
}
/**************Header*/
#header{
    padding: 19px 0;
    border-bottom: 1px solid #bdc4c9;
    margin-bottom: 50px;
}
#logo img{
    width: 35px;
}
/**************Contant*/
#content{
    margin: 80px 0 110px 0;
}
.left-img{
    float: left;
    margin-left: 130px;
}
/*Form*/
.register-form {
    float: right;
    width: 350px;
    margin-right: 130px;
}
.register-form:target #form-sign-in{
    display: none;
}
.register-form:target #form-creat-account{
    display: block;
}
#form-creat-account{
    display: none;
}
.register-form .text-input-wrapper{
    padding-right: 14px; 
    margin: 20px 0;
}
.register-form .text-input-wrapper input{
    padding: 0px 6px;
    border: 1px solid #bdc4c9;
    width: 100%;
    border-radius: 3px;
    font-size: 16px;
    min-height: 34px;
}
.register-form .checkbox-input-wrapper{
    float: left;
    position: absolute;
}
.register-form .checkbox-input-wrapper input{
    visibility: hidden;
}
.register-form .checkbox-input-wrapper label{
    font-size: 13px;
}

.register-form .checkbox-input-wrapper label:after {
    border: 1px solid #bdc4c9;
    border-radius: 2px;
    content: "";
    display: block;
    height: 13px;
    position: absolute;
    top: 6px;
    width: 15px;
}
.register-form .checkbox-input-wrapper label:before {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    content: "";
    display: none;
    height: 9px;
    left: 5px;
    position: absolute;
    top: 6px;
    transform: rotate(45deg);
    width: 5px;
    z-index: 1;
}
.register-form .checkbox-input-wrapper input[type=checkbox]:checked + label:before{
    display: block;
}
.register-form .submit-input-wrapper{
    float: right;
}
.register-form .submit-input-wrapper input{
    background: rgba(0,87,237,1);
    background: -moz-linear-gradient(top, rgba(0,87,237,1) 0%, rgba(22,138,221,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,87,237,1)), color-stop(100%, rgba(22,138,221,1)));
    background: -webkit-linear-gradient(top, rgba(0,87,237,1) 0%, rgba(22,138,221,1) 100%);
    background: -o-linear-gradient(top, rgba(0,87,237,1) 0%, rgba(22,138,221,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,87,237,1) 0%, rgba(22,138,221,1) 100%);
    background: linear-gradient(to bottom, rgba(0,87,237,1) 0%, rgba(22,138,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0057ed', endColorstr='#168add', GradientType=0 );
    border: 1px solid #0c6ebe;
    color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    min-height: 34px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
}
.register-form .submit-input-wrapper input:hover{
    background: rgba(22,138,221,1);
    background: -moz-linear-gradient(top, rgba(22,138,221,1) 0%, rgba(0,87,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22,138,221,1)), color-stop(100%, rgba(0,87,237,1)));
    background: -webkit-linear-gradient(top, rgba(22,138,221,1) 0%, rgba(0,87,237,1) 100%);
    background: -o-linear-gradient(top, rgba(22,138,221,1) 0%, rgba(0,87,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(22,138,221,1) 0%, rgba(0,87,237,1) 100%);
    background: linear-gradient(to bottom, rgba(22,138,221,1) 0%, rgba(0,87,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#168add', endColorstr='#0057ed', GradientType=0 );
}
.register-form h2 {
    color: #3d464d;
    float: left;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.register-form .get-account {
    float: right;
    font-size: 13px;
}
.register-form  a {
    color: #2895f1;
}

/**************Footer*/
#footer{
    border-top: 1px solid #ccc;
    padding: 40px 0;
}
#footer ul{
    float: left;
    margin: 0 30px 0 20px;;
    padding: 0;
    font-size: 13px;
}
#footer ul li{
    margin: 5px 0;
}
#footer .language-bnt, #footer ul li:first-child{
    font-weight: bold;
    font-size: 13px;
    color: #767676;
}
#footer ul li a, #footer .language-bnt{
    color: #767676;
}
#footer .language-bnt{
    background: url("../images/globus.png") no-repeat scroll 0 7px / 18px 18px rgba(0, 0, 0, 0);
    float: right;
    padding: 0 0 5px 25px;
}
#footer .language-bnt .arrow{
    background: url("../images/arrow.png") no-repeat scroll 5px 10px / 10px 8px rgba(0, 0, 0, 0);
    display: inline-flex;
    height: 20px;
    opacity: 0.5;
    width: 20px;
}
/*Modal Dialog*/
.modal-dialog{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity:0;
    display: none;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.modal-dialog:target{
    opacity: 1;
    display: block;
}
.modal-fon{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .5;
    background: #555;
}
.modal-dialog .modal-title{
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #e1e1e0;
    padding: 20px 32px;
}
.modal-dialog .modal-title h2{
    float: left;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
}
.modal-dialog .close-btn{
    background: url("../images/button_close.png") no-repeat scroll 0 0 / 10px 10px rgba(0, 0, 0, 0);
    display: inline-block;
    float: right;
    height: 10px;
    margin-top: 8px;
    width: 10px;
}
.modal-dialog .modal-cont{
    background: none repeat scroll 0 0 #f6f9fc;
    border-radius: 5px;
    margin: 10% auto;
    overflow: hidden;
    position: relative;
    width: 500px;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.2);
}
.modal-dialog .modal-cont ul{
    color: #2895F1;
    float: left;
    padding: 0;
    font-size: 15px;
    margin-left: 50px;
    line-height: 25px;
}
.modal-dialog .modal-cont ul:last-child{
    float: right;
    margin-right: 25px;
}