ul {
    font-size:150%
}

li {
    margin-left: 10%;
}

.logo {
    height: 5% 
}

#image {
    height:30%;
    margin-left:15%;
    margin-top:5%
}

#div {
   width:58em;
   height:25em;
   float:left;
   background-color:#B0E7E3
}

#div1 {
    width:35em;
    float:left;
    font-size:0.8em
}

#div2 {
    width:20em;
    float:left;
    height:60em
}


#table {
	background-color:#B0E7E3;
	width:58em;
	text-align:center;
    float:left
}

tr {
	text-align:center;
    font-size:200%
}

table {
    width:100%; 
    border-color:white
}
