body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}
.topmanu {
    font-size: 12px;
    margin-left: 3% ;
    color: #91A8BA;
    text-decoration: none;

}
.content {
    -moz-column-count: 2;
    margin-top: 20%;
    text-align: center;
}

