body{
background:whitesmoke;
}

.calc {
float:center;
width:70%;
height:auto;
font-size:80%;
border-right:grey;
margin:10px;
margin-top:10%;
}

#result{
border-color:grey;
font-size:160%;
margin:10px;
width:20%;
font-color:darksalmon;
}

input{
border-color:gray;
height:4%;
width:8%;
margin:2%;
font-size:110%;
background:lightyellow;
}
