<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Lunch Application</display-name>
    <description>
        This is a web application created by ITC-Vanadzor 2015.
    </description>

    <!--1. login -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!--2. logout -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.Logout</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!--3. getproducts -->
    <servlet>
        <servlet-name>GetProductsServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.GetProducts</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetProductsServlet</servlet-name>
        <url-pattern>/getproducts</url-pattern>
    </servlet-mapping>

    <!--4. getproductslist -->
    <servlet>
        <servlet-name>GetProductsListServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.GetProductsList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetProductsListServlet</servlet-name>
        <url-pattern>/getproductslist</url-pattern>
    </servlet-mapping>

    <!--5. getorders -->
    <servlet>
        <servlet-name>GetOrdersServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.GetOrders</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetOrdersServlet</servlet-name>
        <url-pattern>/getorders</url-pattern>
    </servlet-mapping>

    <!--6. getdistributors -->
    <servlet>
        <servlet-name>GetDistributorsServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.GetDistributors</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetDistributorsServlet</servlet-name>
        <url-pattern>/getdistributors</url-pattern>
    </servlet-mapping>

    <!--7. getcustomers -->
    <servlet>
        <servlet-name>GetCustomersServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.GetCustomers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCustomersServlet</servlet-name>
        <url-pattern>/getcustomers</url-pattern>
    </servlet-mapping>

    <!--8. deleteorder -->
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.DeleteOrder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/deleteorder</url-pattern>
    </servlet-mapping>

    <!--9. becomedistributor -->
    <servlet>
        <servlet-name>BecomeDistributorServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.BecomeDistributor</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BecomeDistributorServlet</servlet-name>
        <url-pattern>/becomedistributor</url-pattern>
    </servlet-mapping>

    <!--10. addorder -->
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.AddOrder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/addorder</url-pattern>
    </servlet-mapping>

    <!--11. getorderlist -->
    <servlet>
        <servlet-name>GetOrderListServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.GetOrderList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetOrderListServlet</servlet-name>
        <url-pattern>/getorderlist</url-pattern>
    </servlet-mapping>

    <!--12. getplaces -->
    <servlet>
        <servlet-name>GetPlacesServlet</servlet-name>
        <servlet-class>com.itcvanadzor.lunch.controller.servlets.GetPlaces</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetPlacesServlet</servlet-name>
        <url-pattern>/getplaces</url-pattern>
    </servlet-mapping>
</web-app>     

