body{
background-color:beige;
}
.wrapper{
  margin: 0 0 0 0;
  height:100%;
}
.input-text {
margin-top:20px;
margin-left:-108px;
width:60px;
height:20px;
}

.input-text > input {
height:30px;
width:150px;
background-color:cornsilk;
border-color:darksalmon;
}

.onclick{
margin-top:10px;
}
