a {
    text-decoration:none;
}
.floatRightClass{
    float:right;
}
.floatLeftClass{
    float:left;
}
.wrapperClass{
    width: 1200px;
    margin: 0 auto;
}
.fullWidthClass{
    width:100%;
    float:left;
}
.fullWidthClass>div{
    float:left;
}
.loginImgContainerClass{
    text-align:center;
}
#logInFormContainerId form{
    float:left;
}
/*********
 **Forms**
 ********/
#signUpFormContainerId{
    float: left;
    width:400px;
}
#logInFormContainerId{
    width: 350px;
    float: right;
}
.inputSubmitContainerClass input, .inputButtonContainerClass input{
    color:#F0E68C 	;
    border:2px groove #DAA520;
    padding:5px;
}
.inputSubmitContainerClass input{
    background-color:#4169E1 	;
    border-radius:5px;
    margin-left:10px;
}
.inputButtonContainerClass input{
    background-color:#DAA520;
    border-radius:15px;
    margin-left:10px;
}
.inputTextContainerClass,.selectContainerClass{
    float: left;
    width:100%;
    margin-bottom:15px;
}
div.inputRadioContainerClass,div.inputSubmitContainerClass, div.inputButtonContainerClass{
    float: right;
    margin-bottom:15px;
}
.inputTextContainerClass input{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border:4px groove;
    border-radius:10px;
    padding:5px;
    background-color:#EEE8AA;
    float:right;
}
.inputTextContainerClass label{
    float:left;
}
#ageId {
    background-color:#E9967A;
}
.selectContainerClass select{
    background-color:#DAA520;
    border-radius:5px;
    border:2px groove #DAA520;
    float:right;
    margin-left: 10px;
    padding:4px 0 4px 7px;
}
.selectContainerClass label{
    float:left;
}
#logInId {
    background-color:#DAA520;
    border-radius:15px;
    border:2px groove #DAA520;
    padding:5px;
}
#header {
    float:left;
    height:5%;
    width:100%;
    text-align:right;
    padding-top:3%;

}
#table {
    width:100%;
    height:85%;
    float:left;
}
#panel {
    height:5%;
    width:100%;
    float:left;
}
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}

#overlay div {
    width:300px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align:center;
}

