body {
    font-family: arial;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.error{
    color:red;
    float:left;
    width:100%;
}
.hidden{
    display: none !important;
}
.tableWrapper {
    margin: 50px auto;
    width: 1000px;
}
.tablePage {
    border: 1px solid #888;
    float: left;
    width: 100%;
}
.tablePage ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.tablePage ul.title {
    background: none repeat scroll 0 0 #ccc;
    float: left;
}
.tablePage ul {
    border-bottom: 1px solid #888;
    float: left;
    width: 100%;
}
.tablePage ul li {
    float: left;
    text-align: center;
    width: 15%;
    overflow: hidden;
}
.tablePage ul li:first-child {
    width: 3%;
}
.tablePage ul.title li:last-child {
    text-align: center;
    width: 22%;
}
li div {
    border-left: 1px solid #888;
    padding: 7px 0;
}
.tablePage li:first-child div {
    border: medium none;
}
.tablePage ul li:nth-child(7), .tablePage ul li:nth-child(8) {
    width: 11%;
}
.action i {
    display: block;
    float: left;
    height: 20px;
    width: 20px;
}
.edit .action i {
    background: url("../images/pen.jpeg") no-repeat scroll 0 0 / 20px 20px rgba(0, 0, 0, 0);
}
.action span, .action a {
    float: left;
}
.delete .action i {
    background: url("../images/delete.jpeg") no-repeat scroll 0 0 / 20px 20px rgba(0, 0, 0, 0);
}
.action {
    float: left;
}
i {
    background: url("../images/pen.jpeg") no-repeat scroll 0 0 / 20px 20px rgba(0, 0, 0, 0);
}
.action span, .action a {
    float: left;
}
.action i {
    margin: 0 5px;
}
.action a {
    color: black;
    text-decoration: none;
}
.addUser {
    float: right;
    margin: 20px 0;
}
a.addUserLink {
    border: 1px solid #888;
    border-radius: 5px;
    color: #111;
    padding: 5px 10px;
    text-decoration: none;
}
a.addUserLink:hover {
    background: none repeat scroll 0 0 #ccc;
}
