<html>
    <head>
        <link rel="stylesheet" href="../css/style.css"/>
        <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="../js/functions.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="tablePage" id="tablePage">

            </div>
            <div class="addUser">
                <a href="#modal-dialog" onclick="addUser();" class="addUserLink">Add user</a>
            </div>           
        </div>       
    </body>
</html>
<script src="../js/functions.js" type="text/javascript"></script>