.sheet {
margin:auto;
width:70%;
}

.field, #field5, #field6 {
    margin: 30px;
}
.inputStyle {
    height: 35px;   
    width: 240px;
    position: absolute;
    left: 300px;
    font-size: larger;
}

.title {
    position: relative;
    top: 9px;
    left: -15px;
}

#fName, #lName, #eMail, #pswd  {
    position: absolute;
    left: 553px;
    font-size: larger;
}

#w1,#w2,#w3,#w4 {
    position: relative;
    top: -1px;
    left: 73px;
    font-size: smaller;
    height: 0px;
    color: red;
}
#vbox {
    position: relative;
    left: 288px;
    top: -43px;
    color: blue;
}
#butt {
    position: relative;
    left: 70px;
    top: 15px;
    height: 34px;
    width: 72px;
    font-size: large;
}
#myCheck {
    position: relative;
    left: 186px;
}

select {
    font-size: 13.5px;
    position: relative;
    top: 8px;
}
