.top {
    height: 50px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

.top input {
    height: 50px;
    width: 400px;
    font-size: xx-large;
}
.buttons {
   width: 380px;
   height: 30px;
   margin: auto;
   margin-top: 20px;
}

button {
    height: 50px;   
    width: 50px;
    margin: 5px;
}

span {
    font-size: xx-large;
}
