body{
  font-family: arial;
}
.wrapper{
  width: 1000px;
  margin: 50px auto; 
}
.tablePage{
  border: 1px solid #888; 
  float: left;
  width: 100%
}
.tablePage ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.tablePage ul.title{
  float: left;
  background: #ccc;
}
.tablePage ul{
  border-bottom: 1px solid #888; 
  float:left;
  width:100%;
}
.tablePage ul li {
  float: left; 
  width: 15%;
  text-align: center;
  word-wrap: break-word;
}
.tablePage ul li:first-child {
  width: 3%;
}
.tablePage ul.title li:last-child {
  width: 22%;
  text-align: center;
}
li div {
  border-left: 1px solid #888;
  padding: 7px 0;
}
.tablePage li:first-child div {
  border:none;
}
.tablePage ul li:nth-child(9),.tablePage ul li:nth-child(8) {
  width: 11%;
}
.action i{
  display: block;
  width: 20px;
  height: 20px;
  float:left;
  float: left;
}
.action i.edit {
  background: url(../images/pen.jpeg) no-repeat;
  background-size: 20px 20px;
}
.action span,.action a{
  float:left
}
.action i.delete {
  background: url(../images/delete.jpeg) no-repeat;
  background-size: 20px 20px;
}
.action{
  float: left;
}
.action i.edit {
  background: url(../images/pen.jpeg) no-repeat;
  background-size: 20px 20px;
}
.action span,.action a{
  float:left;
}
.action i{
  margin: 0 5px;
}
.action a {
  text-decoration: none;
  color: black;
}
.addUser {
  float: right;
  margin: 20px 0;
}
a.addUserLink {
  color: #111;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #888;
  border-radius: 5px;
}
a.addUserLink:hover {
  background: #ccc;
}

/*Modal Dialog*/

.modal-dialog{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity:0;
  display: none;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.modal-dialog:target{
  opacity: 1;
  display: block;
}
.modal-fon{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .5;
  background: #555;
}
.modal-dialog .modal-title{
  background: none repeat scroll 0 0 #fff;
  border-bottom: 1px solid #e1e1e0;
  padding: 20px 32px;
}
.modal-dialog .modal-title h2{
  float: left;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
}
.modal-dialog .close-btn{
  background: url("../images/button_close.png") no-repeat scroll 0 0 / 10px 10px rgba(0, 0, 0, 0);
  display: inline-block;
  float: right;
  height: 10px;
  margin-top: 8px;
  width: 10px;
}
.modal-dialog .modal-cont{
  background: none repeat scroll 0 0 #f6f9fc;
  border-radius: 5px;
  margin: 10% auto;
  overflow: hidden;
  position: relative;
  width: 500px;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.2);
}
.modal-dialog .modal-cont ul{
  color: #2895F1;
  float: left;
  padding: 0;
  font-size: 15px;
  margin-left: 50px;
  line-height: 25px;
}
.modal-dialog .modal-cont ul:last-child{
  float: right;
  margin-right: 25px;
}

